.dashboard-card h2 {
  font-weight: bold;
}

.dashboard-card p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 8px;
  margin-top: 8px;
}

.dashboard-card {
  margin-bottom: 15px;
}

.dashboard-card-content {
  padding: 16px;

}
.dashboard-card .dashboard-card-body {
  margin-top: 10px;
  padding-left: 0;
}
