// Specific CSS for your home-page
.search-form-wrapper {
  padding: 56px;
  background-color: white;
  font-size:0.6rem;
  border-radius: 16px;
  input {
    font-size: 1.5rem;
  }



  .card-wrap{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

.banner-home {
  padding: 90px;
}
