
<%= simple_form_for(Food.new, method: 'get') do |f| %>
<%= f.input :name, input_html: {id:"typed"},  label: false  %>

  <div class="text-center">
    <%= f.submit :SEARCH, class: 'btn btn-primary btn-block' %>
  </div>
<% end %>

  <!-- MAKE A SLIDER FOR FRESHNESS -->
  <!-- Change the "name" search to "food" search -->
