<center><div class="form-header">
<h1 class="mt-10">What do you have left over?</h1>
<%= render 'form', food: @food %>
<br>
<button type="button" class="btn btn-light">
<%= link_to 'Back', foods_path %>
</button>
</div>
</center>

