
.card img {
  object-fit: cover;
}
.card {
  position: relative;
  border: none;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
.card .fa-edit {
  position: absolute;
  right: 10px
}
.card .fa-trash-alt {
  position: absolute;
  right: 30px;
}
.index-container {
  padding-top: 30px;
}
.index-card {
  height: 380px;
}
.index-card-price {
  position: absolute;
  right: 50px;
  bottom: 20px;
  font-size: 40px;
}
